@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: "Rajdhani", sans-serif;
    background: linear-gradient(135deg, rgb(255, 0, 0), rgb(124, 39, 39));
    position: fixed;
    margin-top: 0;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 0px;
}

.button-navigator-in-navbar {
    background: none;
    color: rgb(233, 226, 226);
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.5s;
}

.button-navigator-in-navbar a{
    color: rgb(243, 238, 238);
    text-decoration: none;
}

.f1-white-logo{
    height: auto;
    width: 70%;
    padding-left: 10%;
}




/*--------------------------------------Hover------------------------------------*/
.button-navigator-in-navbar:hover{
    color: rgb(255, 72, 0);
}


/*--------------------------------------mobile view-------------------------------*/

@media (max-width: 860px) {
    .navbar{
        width: 100%;
    }

    .button-navigator-in-navbar{
        font-size: 0.5em;
    }
}